*{
    box-sizing: border-box;  
}
body{
    font-family: sans-serif;
}
.container{
    margin: 20px;
    display: inline;
    padding: 22px;
}
.details{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.food_photos{
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
img{
    border-radius: 12px;
    padding: 10px;
}